body 
{
    background-image: url(images/woodentable.jpg)
}

h1 
{
    background-color: white;
}

h2
{
    background-color: white;
    color: rgb(247, 0, 255);
}

p
{
    background-color: white;
}

a
{
    background-color: white;
}

.devastation
{
    color: red;
    font-style: bold;
}