footer
{
    background-color: rgb(74, 38, 38);
    color: rgba(255, 255, 255, 0.767);
    text-align: center;
}

h3
{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 137, 30);
}